
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <title>hotelGT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body class="aboutHtml">

    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/about}">Hotel GT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home}">Acasa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
<main>
    <div class="aboutContainer">
        <h1>Hotel GT</h1>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio ut enim blandit volutpat maecenas volutpat. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Viverra suspendisse potenti nullam ac tortor. Amet cursus sit amet dictum sit amet justo donec. Vel pretium lectus quam id. Eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. Interdum varius sit amet mattis. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Viverra adipiscing at in tellus integer feugiat scelerisque varius morbi. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi.

            Congue eu consequat ac felis. Turpis tincidunt id aliquet risus feugiat in ante. Viverra suspendisse potenti nullam ac tortor vitae purus. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis. Vitae purus faucibus ornare suspendisse sed nisi lacus. Mattis pellentesque id nibh tortor id. Ultrices eros in cursus turpis massa tincidunt. Pharetra vel turpis nunc eget lorem. Mattis molestie a iaculis at. Nibh sit amet commodo nulla facilisi nullam. Placerat vestibulum lectus mauris ultrices eros in cursus turpis.

            Tristique sollicitudin nibh sit amet commodo nulla facilisi. Mauris pharetra et ultrices neque ornare. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna. Ipsum nunc aliquet bibendum enim. In hac habitasse platea dictumst. Posuere morbi leo urna molestie. Vitae aliquet nec ullamcorper sit amet risus. Arcu odio ut sem nulla pharetra diam sit amet nisl. Arcu non sodales neque sodales ut etiam. Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Sed tempus urna et pharetra pharetra. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio ut enim blandit volutpat maecenas volutpat. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Viverra suspendisse potenti nullam ac tortor. Amet cursus sit amet dictum sit amet justo donec. Vel pretium lectus quam id. Eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. Interdum varius sit amet mattis. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Viverra adipiscing at in tellus integer feugiat scelerisque varius morbi. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi.

            Congue eu consequat ac felis. Turpis tincidunt id aliquet risus feugiat in ante. Viverra suspendisse potenti nullam ac tortor vitae purus. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis. Vitae purus faucibus ornare suspendisse sed nisi lacus. Mattis pellentesque id nibh tortor id. Ultrices eros in cursus turpis massa tincidunt. Pharetra vel turpis nunc eget lorem. Mattis molestie a iaculis at. Nibh sit amet commodo nulla facilisi nullam. Placerat vestibulum lectus mauris ultrices eros in cursus turpis.

            Tristique sollicitudin nibh sit amet commodo nulla facilisi. Mauris pharetra et ultrices neque ornare. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna. Ipsum nunc aliquet bibendum enim. In hac habitasse platea dictumst. Posuere morbi leo urna molestie. Vitae aliquet nec ullamcorper sit amet risus. Arcu odio ut sem nulla pharetra diam sit amet nisl. Arcu non sodales neque sodales ut etiam. Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Sed tempus urna et pharetra pharetra. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel.

            Mauris a diam maecenas sed enim ut sem viverra aliquet. Pellentesque habitant morbi tristique senectus et. Dictum sit amet justo donec enim. Eros in cursus turpis massa tincidunt dui. Tristique senectus et netus et malesuada fames ac turpis egestas. Tellus elementum sagittis vitae et leo duis ut diam quam. Elit ut aliquam purus sit amet luctus. Neque volutpat ac tincidunt vitae. Id porta nibh venenatis cras sed. Non odio euismod lacinia at quis risus sed vulputate.

            At consectetur lorem donec massa sapien faucibus et molestie ac. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Vitae tempus quam pellentesque nec. Pharetra magna ac placerat vestibulum lectus mauris. Id ornare arcu odio ut sem nulla pharetra diam. Adipiscing tristique risus nec feugiat in fermentum. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Adipiscing vitae proin sagittis nisl rhoncus mattis. Arcu ac tortor dignissim convallis aenean et tortor at risus. Sed faucibus turpis in eu mi bibendum neque egestas. Pharetra pharetra massa massa ultricies mi quis hendrerit. Sit amet luctus venenatis lectus magna fringilla urna.
            Mauris a diam maecenas sed enim ut sem viverra aliquet. Pellentesque habitant morbi tristique senectus et. Dictum sit amet justo donec enim. Eros in cursus turpis massa tincidunt dui. Tristique senectus et netus et malesuada fames ac turpis egestas. Tellus elementum sagittis vitae et leo duis ut diam quam. Elit ut aliquam purus sit amet luctus. Neque volutpat ac tincidunt vitae. Id porta nibh venenatis cras sed. Non odio euismod lacinia at quis risus sed vulputate.

            At consectetur lorem donec massa sapien faucibus et molestie ac. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Vitae tempus quam pellentesque nec. Pharetra magna ac placerat vestibulum lectus mauris. Id ornare arcu odio ut sem nulla pharetra diam. Adipiscing tristique risus nec feugiat in fermentum. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Adipiscing vitae proin sagittis nisl rhoncus mattis. Arcu ac tortor dignissim convallis aenean et tortor at risus. Sed faucibus turpis in eu mi bibendum neque egestas. Pharetra pharetra massa massa ultricies mi quis hendrerit. Sit amet luctus venenatis lectus magna fringilla urna.</p>
    </div>
</main>
</body>

</html>